*,
*::before{

}
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h1: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1.75rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
          0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
    :root{
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.25rem;
    }
}

/* General Styling */

html {
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img{
    display:block;
    max-width: 100%;
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Typography */

.btn{
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    border-radius: 3px;
}

.btn:hover{
    transform: scale(1.1)
}

h1, h2, h3{
    line-height: 1;
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

.section__title{
    margin-bottom: 0.25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);

}

.section__subtitle--intro, 
.section__subtitle--about {
    background: var(--clr-accent);
    padding: 0.25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* Header */

header {
    display: flex;
    padding: 1.15em 1em;
    background: #111;
    position: fixed;
    width: 100%;
    z-index: 100;
}


.nav{
    position: fixed;
    background-color: #111;
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;

    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 48.5em;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h4);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
    cursor: pointer;
}

.nav-toggle{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 1.25em;
    top: 1.5em;
    z-index: 1000;
    padding: none 0.5em;
}

.nav-toggle:focus{
    outline: none;
}

.nav-open .nav{
    transform: translateX(-80%);
}

.nav-open .hamburger{
    background-color: var(--clr-accent);
    transform: rotate(0.625turn);
}

.nav-open .hamburger::after{
    background-color: var(--clr-accent);
    opacity: 0;
}

.nav-open .hamburger::before{
    background-color: var(--clr-accent);
    transform: rotate(90deg) translateX(-6px);
}

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background-color: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{ top: 6px; }
.hamburger::after{ bottom: 6px; }

/* Intro Section */

.intro {
    position: relative;
}

.intro__img{
    box-shadow: var(--bs);
    border-radius: 50%;
}

@media (min-width: 600px) {
    .intro{
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* My Services */
.my-services{
    background-color: var(--clr-dark);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../Images/Laptop\ Coding.png);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 35px;
    margin: 0;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto;
    background-color: var(--clr-light);
    opacity: 0.5;
    margin-top: 0.25em;
}

.services {
    margin-bottom: 2em;
    margin-top: 0;
}

.service{
    max-width: 500px;
    margin: 0 auto;
    margin-top: -1em;
    margin-bottom: 2em;
}

@media (min-width:800px) {
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: 65px;
        margin-right: auto;
        margin-bottom: 1em;
        padding: 0;
        margin-top: 0;
    }

    .service + .service{
        margin-left: 2em;
    }
}

/* About Me */

.about-me{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 3em;
}

.about-me__img{
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me{
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
    }

    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
        margin-top: 2em;
    }
}

/* Robotics */

.my-work-coding {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    /* margin: 0; */
    padding-top: 2em;
    padding-bottom: 4em;
}

.my-work-robotics{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    /* margin: 0; */
    padding-top: 2em;
    padding-bottom: 0;
}

.section__title--work {
    padding-bottom: 0;
    margin-bottom: 0;
}

.section__subtitle--work {
    padding-top: 0;
    margin-bottom: 1em;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item{
    overflow: hidden;
}

.portfolio__img{
    height: 300px;
    transition: 
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.portfolio__img:hover{
    transform: scale(1.2);
    opacity: 1;
}

.portfolio__video{
    width: 890px;
    height: 500px;
    border: none;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Footer */

.footer{
    background-color: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 1em 0;
    font-size: var(--fs-h3);
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-weight: var(--fw-reg);
}

.footer__link:hover,
.social-list__link:hover{
    opacity: 0.7;
}

.footer__link:hover{
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0.5em 0.25em 0;
    padding: 0;
}

.social-list__item{
    margin: 0 0.5em;
    padding: 0 0.25em;
}

/* Individual Portfolio Styling */

.portfolio-item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -5em;
}

.portfolio-item-individual p{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-link {
    text-decoration: underline dotted;
}